{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="title" content="{% block title%} {% endblock %}" />
	    <meta name="description" content="{% block description%} {% endblock %}" />
        <meta name="keywords" content="{% block keywords%} {% endblock %}" />
	    <meta name="author" content="Кузнецов Владимир Вячеславович" />
        <meta name="yandex-verification" content="" />

<!-- Latest compiled and minified CSS -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% block header%}
    {% endblock %}
        <style>
      .container_comment {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
      .post-footer, .comments {
        padding: 20px 0;
      }
    </style>
    </head>
    <body>
    <div class="container">
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

    </div>
  </div>
</div>

<!-- Create book button -->
<button class="create-book btn btn-primary" type="button" name="button">Create Book</button>


<nav class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <div class="my-0 mr-md-auto font-weight-normal">
      <nav class="my-4 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="/">Сервис учета активов</a>
        <a class="p-2 text-dark" href="#">Как пользоватся?</a>
        <a class="p-2 text-dark" href="#">Зачем сайт??</a>

        </div>
        {% if user.is_authenticated %}

         Здравствуйте, {{ user.get_username }}<a style="margin: 10px 10px 10px 10px;" class="btn btn-outline-danger " href="{% url 'logout'%}?next={{request.path}}">Выйти</a>
        {% else %}
        <a class="text-muted" href="{% url 'login'%}?next={{request.path}}">Здравствуйте, читатель!</a> <a style="margin: 10px 10px 10px 10px;" class="btn btn-outline-success" href="{% url 'login'%}?next={{request.path}}">Войти</a>
        {% endif %}
</nav>

  {% block mainpage%} {% endblock %}


     <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10" aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="/">Русский инвестор<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="/subject" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Все темы</a>
              <div class="dropdown-menu" aria-labelledby="dropdown10">
                  {% for subject in subjects %}
                        <a class="dropdown-item" href="{{subject.get_absolute_url}}">{{ subject.title }}</a>
                  {% endfor %}
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Кто я?</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Зачем блог?</a>
            </li>

          </ul>
        </div>
      </nav>
        <br>
        {% block page%} {% endblock %}

        <footer>{% block footer%} {% endblock %}</footer>
     <!-- JavaScript -->
    {% block scripts %}
      <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
      <script src="{% static 'assets/js/popper.min.js' %}"></script>
      <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
      <!-- You can alternatively load the minified version -->
      <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
    {% endblock scripts %}
        {% block extrascripts %}{% endblock extrascripts %}
    </div>
    </body>