{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="title" content="{% block title%} {% endblock %}" />
	    <meta name="description" content="{% block description%} {% endblock %}" />
        <meta name="keywords" content="{% block keywords%} {% endblock %}" />
	    <meta name="author" content="Кузнецов Владимир Вячеславович" />
        <meta name="yandex-verification" content="" />
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
        {% block header%} {% endblock %}
        <style>
            .container_comment {
                    width: auto;
                    max-width: 680px;
                    padding: 0 15px;
            }
            .post-footer, .comments {
                    padding: 20px 0;
            }
            .btn-circle {
                    width: 39px;
                    height: 39px;
                    border-radius: 35px;
                    text-align: center;
                    padding-left: 0;
                    padding-right: 0;
                    font-size: 16px;
                    white-space: normal; /* восстанавливаем свойству значение по умолчанию */
            }
        </style>
    </head>
    <body>
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/">
                Русский инвестор
            </a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/subject" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Все темы</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown10">
                                {% for subject in subjects %}
                                    <a class="dropdown-item" href="{{subject.get_absolute_url}}">{{ subject.title }}</a>
                                {% endfor %}
                            </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Зачем?</a>
                    </li>
                </ul>
                <div class=" my-2 my-lg-0">
                    {% if user.is_authenticated %}
                        {{ user.get_username }}&nbsp;
                        <a class="btn btn-outline-danger btn-circle" href="{% url 'logout'%}?next={{request.path}}"><i class="fas fa-user"></i></a>
                    {% else %}
                        <button type="button" class="login-btn btn btn-outline-primary btn-circle"><i class="far fa-user"></i></button>
                    {% endif %}
                </div>
            </div>
        </nav>
        <br>
        <br>
        <br>
        <div class="container">
            <!--Модальное окно Регистрации и Входа-->
            <div class="modal fade" tabindex="-1" role="dialog" id="modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">

                    </div>
                </div>
            </div>
        <br>
        {% block page%} {% endblock %}
            <footer>{% block footer%} {% endblock %}</footer>
        <!-- JavaScript -->
        {% block scripts %}
        <script src="{% static 'assets/js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'assets/js/popper.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
        <!-- You can alternatively load the minified version -->
        <script src="{% static 'js/jquery.bootstrap.modal.forms.js' %}"></script>
            <script type="text/javascript">
                        $(function () {
                                        // Log in & Sign up buttons
                                        $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});
                                        $(".login-btn").modalForm({formURL: "{% url 'login' %}"});

                                        });
            </script>

                {% endblock scripts %}
                {% block extrascripts %}{% endblock extrascripts %}
        </div>
    </body>