{% extends 'blog/base.html' %}
{% block title%}Русский инветор{% endblock %}
{% block description%}Блог о Российском фондовом рынке{% endblock %}
{% block header %}{% endblock %}
 {% block mainpage%}
   {% if user.is_authenticated %}


        {% else %}
        <a class="text-muted" href="{% url 'login'%}?next={{request.path}}">Здравствуйте, читатель!</a> <a style="margin: 10px 10px 10px 10px;" class="btn btn-outline-success" href="{% url 'login'%}?next={{request.path}}">Войти</a>
        {% endif %}


{% endblock %}
{% block page%}

{{get_base_menu}}
    {% for post in posts %}
                <p><h3><a style="text-decoration: none;" class="text-dark" href="{{post.get_absolute_url}}">{{ post.title|upper}}</a></h3></p>
                <p align="justify">{{post.get_short_text|truncatewords:69 }}
                <p><a class="btn btn-light" href="{{post.get_absolute_url}}">Читать полностью</a></p>
        <hr>
    {% endfor %}

<button class="signup-btn btn btn-primary" type="button" name="button">Sign up</button>




{% endblock %}
{% block footer%}

{% endblock %}
{% block extrascripts %}
  <script type="text/javascript">
    $(function () {
      // Log in & Sign up buttons
      $(".login-btn").modalForm({formURL: "{% url 'login' %}"});
      $(".signup-btn").modalForm({formURL: "{% url 'signup' %}"});



    });
  </script>
{% endblock extrascripts %}