{% extends 'blog/base.html' %}

{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% block title%}{{post.title}}{% endblock %}
{% block description%}{{post.description}}{% endblock %}
{% block keywords%}{{post.keywords}}{% endblock %}
{% block header %}{% endblock %}
{get_base_menu}}
{% block page%}


<div class="post">
        <h1>{{ post.title }}</h1>
        <div class="d-flex flex-row bd-highlight mb-3">
              <div class="p-2 bd-highlight"><img src="../../../../media/{{post.author.photo }}" width="49" height="49" alt="{{post.username}}" class="rounded"></div>
                <div class="p-2 bd-highlight align-self-center">Автор: {{post.author}}.</div>
                <div class="p-2 bd-highlight align-self-center">
                    {% if post.published_date %}
                    <div class="date">
                        Опубликовано: {{ post.published_date }}.

                    </div>
                    {% endif %}
                </div>
        </div>
        <p align="justify">{{ post.text|linebreaksbr }}</p>
    </div>

{% get_comment_count for post as comment_count %}
<div class="text-center" style="padding-top:20px">
    Отозвалось {{ comment_count }}&nbsp;&nbsp;
    <!-- Button trigger modal -->
    {% if user.is_authenticated %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Оставить комментарий
    </button>
   {% else %}
    <p>Войдите или зарегистрируйтесь</p>
    {% endif %}
</div>



      {% render_xtdcomment_tree for post %}




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Оставьте Ваш комментарий</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="comment">
                <div class="well">

                {% get_comment_form for post as form %}
                <form method="POST" action="{% comment_form_target %}" class="form-horizontal">
                {% csrf_token %}
                <fieldset>
                {% for field in form %}
                    {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
                {% endfor %}
            <div style="display:none">{{ form.honeypot }}</div>
            <div class="form-group {% if 'comment' in form.errors %}has-error{% endif %}">
            <div class="col-lg-offset-1 col-md-offset-1 col-lg-12 col-md-12">
            {{ form.comment }}
        </div>
        </div>
  </fieldset>
  <div class="form-group">
    <div class="col-lg-offset-3 col-md-offset-3 col-lg-7 col-md-7">
        <input type="hidden" name="next" value="/{{post.slug}}/" />
        <input type="submit" name="post" value="Отправить" class="btn btn-primary" />
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
    </div>
  </div>
</form>

  </div>
</div>
      </div>
    <!--  <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>



{% endblock %}
{% block footer%} {% endblock %}
